version: '3.8'
services:
  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env
    volumes:
      - ./storage/pgdata/:/var/lib/postgresql/data/
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    restart: always
    volumes:
      - ./storage/redis:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    environment:
      TELEGRAM_API_ID: ${TELEGRAM_API_ID}
      TELEGRAM_API_HASH: ${TELEGRAM_API_HASH}
      TELEGRAM_LOCAL: 1
    volumes:
      - ./storage/tgapi/:/var/lib/telegram-bot-api
    ports:
      - "8081:8081"
    restart: always
    healthcheck:
      test: >
        sh -c 'status=$(wget -qO- --server-response http://localhost:8081/getMe 2>&1 | awk "/HTTP/{print \$2}");
               [ "$status" = "200" ] || [ "$status" = "404" ]'
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 2s

  nginx:
    image: nginx:latest
    volumes:
      - ./storage/tgapi/:/var/lib/telegram-bot-api:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8082:80"
    depends_on:
      - telegram-bot-api
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  csohelper-bot:
    build: .
    volumes:
      - ./storage/bot/:/app/storage/
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      nginx:
        condition: service_healthy