services:
  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env
    volumes:
      - ./storage/pgdata/:/var/lib/postgresql/data/
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
    ports:
      - "5432:5432"
  redis:
    image: redis:7
    restart: always
    volumes:
      - ./storage/redis:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s
  csohelper-bot:
    build: .
    volumes:
      - ./storage/bot/:/app/storage/
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy