version: '3'

services:
  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env
    volumes:
      - ./storage/pgdata/:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
  csohelper-bot:
    build: .
    volumes:
      - ./storage/config.toml:/app/storage/config.toml
    depends_on:
      postgres:
        condition: service_healthy